body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// section{
//     width: 60%;
//     float: left;
// }
// aside{
//     width: 20%;
//     float: left;
// }
.left-div{
    
}
.icon{
    background-color: #2d7788;
}
.career-div{
   display: flex;
}
.icon-div{
    background-color: #2d7788;
}

.right-div{
    
}